.header {
  margin-top: 20px;
  display: flex;
  height: 85px;
}

.left-header {
  display: flex;
  flex-wrap: nowrap;
}

#google-logo {
  margin: 25px 15px 15px 15px;
  height: 40px;
  width: auto;
}

.search-bar {
  border-radius: 25px;
  display: flex;
  align-items: center;
  margin: 15px 0 0 0;
  border: solid 1px rgb(242, 242, 242);
  border-top: transparent;
  box-shadow: 0px 7px 17px -1px #b1b1b1a3;
  width: 800px;
  height: 50px;
}

#input-bar {
  border: none;
  outline: none;
  position: relative;
  left: 15px;
  font-size: 22px;
  width: 675px;
  height: 35px;
}

#mic {
  position: relative;
  left: 10px;
  height: 30px;
  width: auto;
  margin-left: 20px;
}

#mag {
  position: relative;
  left: 20px;
  height: 35px;
  width: auto;
}

.middle-header {
  width: calc(100vw - 1150px);
  min-width: 600px;
}

.right-header {
  display: flex;
  /* float: right; */
}

#apps {
  margin: 15px;
  height: 50px;
}

#apps:hover {
  cursor: pointer;
}

.header-sign-in {
  word-wrap: none;
  background-color: rgb(66, 141, 206);
  margin: 10px 0 20px 0;
  padding: 15px;
  border: solid 1px;
}

#sign-in-button {
  white-space: nowrap;
  color: white;
  text-decoration: none;
}

.nav-bar {
  display: flex;
}

.nav-bar-left {
  padding-inline-start: 0px;
  display: flex;
  margin-left: 185px;
  cursor: pointer;
}

.nav-bar-all {
  margin: 0 5px 0 0;
  display: flex;
}

#nav-mag {
  margin: 0 5px 0 5px;
  height: 20px;
}

.nav-bar-img {
  margin: 0 5px 0 5px;
  display: flex;
}

#nav-img {
  margin: 0 5px 0 5px;
  height: 20px;
}

.nav-bar-book {
  margin: 0 5px 0 5px;
  display: flex;
}

#nav-book {
  margin: 0 5px 0 5px;
  height: 20px;
}

.nav-bar-video {
  margin: 0 5px 0 5px;
  display: flex;
}

#nav-video {
  margin: 0 5px 0 5px;
  height: 20px;
}

.nav-bar-news {
  margin: 0 5px 0 5px;
  display: flex;
}

#nav-news {
  margin: 0 5px 0 5px;
  height: 20px;
}

.nav-bar-more {
  margin: 0 5px 0 5px;
  display: flex;
}

#nav-more {
  margin: 0 5px 0 5px;
  height: 20px;
}

.nav-bar-space {
  width: 100px;
}

.nav-bar-right {
  padding-inline-start: 0px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.tools {
  margin: 0 10px;
}

#nav-bar-line {
  position: relative;
  bottom: 10px;
  border-color: rgb(230, 230, 230);
  opacity: 0.2;
}

#results-stats {
  margin-left: 190px;
  color: gray;
}

#dictionary {
  margin-left: 190px;
  font-family: sans-serif;
  font-size: 28px;
}

.dictionary-search-bar {
  display: flex;
  border: 1px solid rgba(121, 121, 121, 0.5);
  border-radius: 0.5em;
  opacity: 0.5;
  width: 800px;
  margin-left: 190px;
}

#dictionary-input {
  border: transparent;
  outline: none;
  margin-left: 5px;
  font-size: 24px;
  width: 700px;
  height: 40px;
  border-radius: 10px;
}

.word-outloud {
  display: flex;
  margin-bottom: -280px;
}

#dictionary-mag {
  margin-left: 30px;
  width: 40px;
  height: auto;
}

#sound-icon {
  margin: 20px 30px 0 190px;
  width: 50px;
}

#help {
  margin-top: 10px;
  font-size: 50px;
}

.results-about {
  position: relative;
  left: 60em;
  bottom: -5em;
  border: 1px solid rgb(181, 181, 181, 0.5);
  border-radius: 0.5em;
  width: 500px;
  height: 275px;
}

#see-results {
  margin: 20px;
}

.results-bar {
  border: none;
  height: 1px;
  background-color: rgb(181, 181, 181, 0.5);
}

.results-about-arrow {
  height: 30px;
}

.help-movie {
  display: flex;
  align-items: center;
}

#help-movie-cover {
  margin: 0 20px 0 20px;
  width: 50px;
}

#film-space {
  width: 280px;
}

.help-album {
  display: flex;
  align-items: center;
}

#help-album-cover {
  margin: 0 20px 0 20px;
  width: 50px;
}

#album-space {
  width: 126px;
}

.dictionary-definition {
  display: flex;
  align-items: center;
}

.mag-box {
  margin: 0 20px 0 20px;
  height: 50px;
  width: 50px;
}

#search-mag {
  height: 40px;
}

#definition-space {
  width: 190px;
}

#help-phon {
  margin: 10px 0 10px 270px;
  color: rgba(123, 123, 123, 0.8);
}

#verb-list {
  margin-left: 200px;
}

.definitions {
  margin-left: 200px;
}

.verb-syn {
  display: flex;
}

.circled {
  border: 1px solid rgb(181, 181, 181, 0.5);
  border-radius: 0.75em;
  margin: -5px 10px 0px 10px;
  padding: 5px;
}

.grayed-words {
  margin: 0 15px 0 15px;
  color: rgba(157, 157, 157, 0.5);
}

#noun-list {
  margin-left: 190px;
}

.noun-definitons {
  margin-left: 45px;
}

.noun-syns {
  display: flex;
  margin-top: 15px;
}

#translations-definitions {
  width: 700px;
  margin: 40px 0 0 200px;
}

#down-arrow {
  width: 50px;
  height: auto;
}

#translations-definitions-text {
  position: relative;
  bottom: 23px;
  left: 375px;
  width: 325px;
  height: 40px;
  border-radius: 1em;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid;
  display: flex;
  background-color: white;
}

.people-also-ask {
  width: 700px;
  margin: 20px 0 0 200px;
}

.people-ask-rows {
  display: flex;
  align-items: center;
}

#people-ask-svg {
  height: 30px;
}

.word-spacing {
  margin: 20px 0 20px 0;
}

.query-result {
  margin: 50px 0 50px 200px;
  max-width: 700px;
}

.large-query-title {
  margin: 10px 0 10px 0;
  font-size: 30px;
  color: rgb(27, 27, 184);
  cursor: pointer;
}

.meta-data {
  margin: 5px 0 5px 0;
}

.internal-links {
  margin: 5px 0 5px 0;
  color: rgb(27, 27, 184);
  cursor: pointer;
  font-size: 20px;
}

.video-suggestions {
  margin-left: 200px;
  max-width: 700px;
}

.video-icons {
  margin-top: 75px;
  display: flex;
  align-items: center;
}

#video-svg {
  width: 45px;
}

.video-column {
  display: flex;
}

.help-albums {
  width: 200px;
  margin-right: 30px;
}

.video-suggestion-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.video-link {
  color: blue;
  font-size: 25px;
  cursor: pointer;
}

#see-more-videos {
  margin-top: 100px;
}

#right-arrow {
  width: 30px;
}

.more-videos-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid;
  width: 250px;
  border-radius: 1em;
  background-color: white;
  position: relative;
  left: 200px;
  bottom: 27px;
}

.related-searches {
  margin-left: 200px;
  max-width: 700px;
}

.searches-text {
  display: flex;
  align-items: center;
}

.song-search {
  display: flex;
  justify-content: space-between;
}

.mag-searches {
  margin-top: 50px;
  /* margin-right: 200px; */
  width: 700px;
}

.mag-column {
  display: flex;
  flex-direction: column;
}

.mag-row {
  display: flex;
  justify-content: space-between;
}

.individual-mag {
  padding: 15px 20px 15px 20px;
  margin: 5px 0 5px 0;
  display: flex;
  border: 1px solid transparent;
  background-color: rgba(222, 195, 129, 0.2);
  border-radius: 1.5em;
  min-width: 300px;
}

.mag-icon {
  width: 25px;
  /* margin-left: 20px; */
}

.mag-text {
  margin-left: 15px;
  cursor: pointer;
}

#google-img {
  margin: 75px 0 75px 150px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  background-color: rgb(238, 237, 231);
}

.location {
  display: flex;
  margin-left: 200px;
}

#location-text {
  color: rgba(79, 79, 79, 0.7);
}

.help {
  display: flex;
  justify-content: space-between;
  width: 350px;
  color: rgba(79, 79, 79, 0.7);
}
